.markdown-preview-view h1 {
    font-size: 20px;
    line-height: 24px;
}

.markdown-preview-view h2 {
    font-size: 20px;
    line-height: 24px;
}

.markdown-preview-view h3 {
    font-size: 20px;
    line-height: 24px;
}

.markdown-preview-view h4 {
    font-size: 20px;
    line-height: 24px;
}

.markdown-preview-view h5 {
    font-size: 20px;
    line-height: 24px;
}

.markdown-preview-view h6 {
    font-size: 20px;
    line-height: 24px;
    color: --text-normal;
}

.cm-s-obsidian .HyperMD-header-1 {
    font-size: 20pt;
}

.cm-s-obsidian .HyperMD-header-2 {
    font-size: 18pt;
}

.cm-s-obsidian .HyperMD-header-3 {
    font-size: 16pt;
}

.cm-s-obsidian .HyperMD-header-4 {
    font-size: 16pt;
}

.cm-s-obsidian .HyperMD-header-5 {
    font-size: 16pt;
}

.cm-s-obsidian .HyperMD-header-6 {
    font-size: 16pt;
    color: --text-normal;
}
